*
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
body{
    margin: 5px;
}
.heading
{
    height: 100vh;
    margin: 30px;
    padding: 5px;

}
.video-background
{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
.row{
    max-width: 1180px;
    margin: 2px auto 4px;
}
.logo1{
    height: 90px;
    width: auto;
    /* float: left; */
    margin: 10px;
}
.main-nav{
    float: right;
    margin-top: 20px;
}
.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 25px;
}
.main-nav li a{
    padding: 5px 0;
    color:  #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200px;
    font-size: 85%;
}
.main-nav li a:hover
    {
        border-bottom: 5px solid #bf55ec;
    }

.welcome-msg
{
    position: absolute;
    text-align: center;
    font-family: 'Fantasy';
    color: white;
    /* top: %; */
    background-color: transparent;
    margin: 20px;
    opacity: 1s;
   z-index: 999;
    
}
.welcome-msg h1 {
    font-size: 2em;
    font-weight: 150;
    letter-spacing: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.welcome-msg p {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 34px;
    /* margin: 20px; */
    line-height: 25px;
    margin: 40px !important;
    padding: 5px;
    text-align: center;
/* margin-bottom: 47px !important; */
}

.btn-comment
{
    font-size: 22px;
    color: white;
    margin: 5px;
    padding: 15px 45px;
    text-decoration: none;
    border: 2px solid #ea9c1c;
    border-top: 2px solid #ea9c1c;
   
}

.btn_end{
    margin-top: -53px;
    margin: 10px;
    padding: 22px 45px;
}

.btn-subscribe
{
    background: #ea9c1c;
    border-top: 2px solid #ea9c1c;

}
.btn-comment:hover{
    background: #ea9c1c;
    transition: .5s;
    border-top: 2px solid #ea9c1c;

    /* align-items: center;
    margin-top: 30px;
    padding: 10px; */
}

