body, html{
	height:100%;
	margin:5px;
	font-size:16px;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: #666;
}


.pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6
{
	position: relative;
	opacity: 0.70;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;


/*
   fixed = parallax
   scroll = normal
*/
	background-attachment: fixed;
}

.pimg1{
	background-image: url('images/map.png');
	min-height: 100%;
}

.pimg2{
	background-image: url('images/beach.jpg');
	min-height: 100%;
}

.pimg3{
	background-image: url('images/goan.jpg');
	min-height: 100%;
}
.pimg4{
	background-image: url('images/night-life.jpg');
	min-height: 100%;
}
.pimg5{
	background-image: url('images/galleries.jpg');
	min-height: 100%;
}
.pimg6{
	background-image: url('images/sports.jpg');
	min-height: 100%;
}
.section
{
	text-align: center;
	padding: 50px 80px;
}

.section-light
{
	background-color: transparent;
	color: #666;

}
.section-dark
{
	background-color: #2a2e34;
	color: #ddd;
}

.pimg2 {
 
  border: 2px solid black;
}

.ptext {
    margin: 250px;
    background-color: #818181;
    border: 6px solid black;
    opacity: 0.6;
    width: 28%;
    font-size: 45px;
    color: white;
    text-align: center;
    padding: 53px 19px;
    margin-left: 37%;
}
.ptext1 {
    margin: 245px;
    background-color: #4b4b4b;
    border: 6px solid black;
    opacity: 0.6;
    width: 45%;
    font-size: 37px;
    color: white;
    text-align: center;
    padding: 49px 26px;
    margin-left: 28%;
    margin-bottom: 55px;
    position: absolute;
}

.ptext2 {
    margin: 280px;
    background-color: #4b4b4b;
    border: 6px solid black;
    opacity: 0.6;
    width: 28%;
    font-size: 34px;
    color: white;
    text-align: center;
    padding: 49px 26px;
    margin-left: 35%;
    margin-bottom: 55px;
    position: absolute;
}
.ptext3 {
    margin: 280px;
    background-color: #4b4b4b;
    border: 6px solid black;
    opacity: 0.6;
    width: 21%;
    font-size: 34px;
    color: white;
    text-align: center;
    padding: 49px 26px;
    margin-left: 35%;
    margin-bottom: 55px;
    position: absolute;
}


.ptext4 {
    margin: 280px;
    background-color: #4b4b4b;
    border: 6px solid black;
    opacity: 0.6;
    width: 30%;
    font-size: 49px;
    color: white;
    text-align: center;
    padding: 49px 10px;
    margin-left: 35%;
    margin-bottom: 55px;
    position: absolute;
}
.ptext5 {
    margin: 280px;
    background-color: #4b4b4b;
    border: 6px solid black;
    opacity: 0.6;
    width: 43%;
    font-size: 41px;
    color: white;
    text-align: center;
    padding: 49px 10px;
    margin-left: 30%;
    margin-bottom: 55px;
    position: absolute;
}

.border trans {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
.row{
    max-width: 1180px;
    margin: 0 auto 1px;
   
}
.logo1{
    height: 90px;
    width: auto;
    /* float: left; */
    margin: 10px;
}
.main-nav{
    float: right;
    margin-top: 50px;
}
.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}
.main-nav li a{
    padding: 5px 0;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200px;
    font-size: 90%;
}
.main-nav li a:hover
{
    border-bottom: 5px solid #bf55ec;
}
